{# src/WS/appBundle/Resources/views/Default/index.html.twig #}

{% extends "::theme_app.html.twig" %}

{% block linkJSOnline %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}


{% block form_record %}
    <form action="" method="post" novalidate="novalidate" >
        <div class="grid-1-3">
            <span class="txtright">Civilit&eacute;*</span>
            <div class="grid-3 radio">
                {% for gender in form.gender %}
                <label>
                    {{ form_widget(gender) }}
                     <span>{{ form_label(gender) }}</span>
                </label>
                {% endfor %}
            </div>
        </div>
        <div class="grid-1-3">
            <label class="txtright">Nom*</label>
            {{ form_widget(form.name) }}
        </div>
        <div class="grid-1-3">
            <label class="txtright">Pr&eacute;nom*</label>
            {{ form_widget(form.firstname) }}
        </div>
        <div class="grid-1-3">
            <label class="txtright">Code postal*</label>
            {{ form_widget(form.postalcode) }}
            <div id="container">
            </div>
        </div>
        <div class="grid-1-3">
            <label class="txtright">Email*</label>
            {{ form_widget(form.mail) }}
        </div>
        <div class="grid-1-3">
            <label class="txtright">T&eacute;l&eacute;phone*</label>
            {{ form_widget(form.phone) }}
        </div>

        <p>Souhaitez-vous recevoir l'actualit&eacute; immobili&egrave;re et les offres personnalis&eacute;es de Nexity ?</p>

        <div class="grid-3-1 no-label">
            <div class="grid-2 radio">
                {% for actuality in form.actuality %}
                    <label>
                        {{ form_widget(actuality) }}
                        <span>{{ form_label(actuality) }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>

        <p>Souhaitez-vous recevoir les offres de nos partenaires ?</p>

        <div class="grid-3-1 no-label">
            <div class="grid-2 radio">
                {% for offer in form.offer %}
                    <label>
                        {{ form_widget(offer) }}
                        <span>{{ form_label(offer) }}</span>
                    </label>
                {% endfor %}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="txtcenter submit">
            <div id="ack-record"></div>
            <input type="submit" value="Valider">
        </div>

        <div class="txtcenter">
            <a href="#">Mentions l&eacute;gales</a>
        </div>
    </form>
{% endblock %}

 {% block javascript %}
     <script>
         $( function() {
             var availableCodePostal = [
                 "90000",
                 "75000",
                 "69000",
                 "95000",
                 "47000",
                 "59000",
                 "10000",
                 "20000"
             ];

             var options = {
                 source: availableCodePostal,
                 appendTo: "#container"
             }
             $( "#user_postalcode" ).autocomplete(options);

         } );

        $(function(){

            $(".txtcenter.submit input[type='submit']").click(function(event){
                event.preventDefault();

                var genderCheck = $('input[id*="user_gender_"]');
                var actualityCheck = $('input[id*="user_actuality_"]');
                var offerCheck = $('input[id*="user_offer_"]');
                if(!genderCheck.is(':checked') ) {
                    putError(genderCheck,"<span class='red'>Veuillez selectionner la civilit&eacute;</span>");
                }
                else if(!actualityCheck.is(':checked')){
                    putError(actualityCheck,"<span class='red'>Veuillez selectionner oui ou non pour les actualit&eacute;s</span>");
                }
                else if(!offerCheck.is(':checked')){
                    putError(offerCheck,"<span class='red'>Veuillez selectionner oui ou non pour les offres</span>");
                }
                else{
                    gender = $( 'input[id*="user_gender_"]:checked' ).val();
                    actuality = $( 'input[id*="user_actuality_"]:checked' ).val();
                    offer = $( 'input[id*="user_offer_"]:checked' ).val();

                    name = $("#user_name").val();
                    fname = $("#user_firstname").val();
                    codepostal = $("#user_postalcode").val();
                    mail = $("#user_mail").val();
                    phone = $("#user_phone").val();

                    if( name == '' || fname == '' || codepostal == '' || mail == '' || phone == ''){
                        checkfieldsEmpty(name,fname,codepostal,mail,phone);
                    }
                    else{
                        if(!isValidEmail(mail)){
                            putError($("#user_mail"),"<span class='red'>Veuillez saisir une adresse email valide</span>");
                        }
                        else{
                            $.ajax({
                                type: 'POST',
                                url: '{{ path('w_sapp') }}',
                                data: { 'gender' : gender, 'name' : name, 'firstName': fname , 'postalCode': codepostal, 'mail': mail, 'phone' : phone, 'actuality':actuality,'offer':offer},
                                dataType: 'json',
                                success: function(response) {
                                    result = JSON.stringify(response.ack);
                                    state = JSON.stringify(response.state);
                                    result = result.replace('"', '').replace('"', '');
                                    state = state.replace('"', '').replace('"', '');
                                    display = "<span class='"+state+"'>"+result+"</span>";
                                    $("#ack-record").html(display);
                                    if(state == 'up'){
                                        $(".txtright").removeClass("error");
                                        $("#user_name").val('');
                                        $("#user_firstname").val('');
                                        $("#user_postalcode").val('');
                                        $("#user_mail").val('');
                                        $("#user_phone").val('');
                                        $( 'input[id*="user_gender_"]').prop('checked', false);
                                        $( 'input[id*="user_actuality_"]').prop('checked', false);
                                        $( 'input[id*="user_offer_"]').prop('checked', false);
                                    }
                                    console.log(response);
                                }
                            });
                        }
                    }

                }
            });

        });

         function checkfieldsEmpty(name,fname,codep,mail,phone){
             if(phone == ''){
                 putError($("#user_phone"),"<span class='red'>Veuillez remplir les champs (*)</span>");
             }
             if(mail == ''){
                 putError($("#user_mail"),"<span class='red'>Veuillez remplir les champs (*)</span>");
             }
             if(codep == ''){
                 putError($("#user_postalcode"),"<span class='red'>Veuillez remplir les champs (*)</span>");
             }
             if(fname == ''){
                 putError($("#user_firstname"),"<span class='red'>Veuillez remplir les champs (*)</span>");
             }
             if(name == ''){
                 putError($("#user_name"),"<span class='red'>Veuillez remplir les champs (*)</span>");
             }
         }

         function putError(element,msg){
             $(".txtright").removeClass("error");
             //$("p").removeClass("error");
             if(!element.parents(".grid-1-3").hasClass("no-label")){
                 element.parents(".grid-1-3").find(".txtright").addClass("error");
             }
             $("#ack-record").html(msg);
         }

         function isValidEmail(emailAddress) {
             var right = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
             return right.test(emailAddress);
         };






     </script>

 {% endblock %}



