{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}WS test{% endblock %}</title>
        {#
        <link rel="stylesheet" href="{{ asset('bundles/Phonebook/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/Phonebook/css/jquery.jscrollpane.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/Phonebook/css/main.css') }}" type="text/css" />
        #}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        #{<script src="{{ asset("bundles/Phonebook/js/jquery.js") }}"></script>
        <script src="{{ asset("bundles/Phonebook/js/jquery.jscrollpane.min.js") }}"></script> #}
    </head>
    <body>


        {#<script src="{{ asset("bundles/Phonebook/js/main.js") }}"></script> #}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
